.home{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.home .logo-chan{
    margin-top: 30px;
}

.home .categories,
.home .about{
    border: 1px solid var(--blue);
}

.home .categories .categories-top,
.home .about .about-top{
    background-color: var(--blue);
    padding: 0px 5px;
}

.home .categories .categories-top h2,
.home .about .about-top h2{
    color: var(--ivory);
    font-size: 20px;
}

.home .categories .categories-links,
.home .about .about-content{
    padding: 5px;
}
  
.home .about .about-content p{
    text-align: justify;
}

.home .categories{
    width: 100%;
}

.home .categories .categories-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home .categories .categories-links a{
    display: flex;
    align-items: center;
    text-decoration: none;    
}

.home .categories .categories-links a svg{
    width: 15px;
    margin: 0px 6px;
}